#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif; 
  align-items: center;
}

.input-section, .display-section {
  flex: 1;
  background-color: #f7f9fc; /* Subtle background color */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.input-section > div, .display-section > div {
  margin-bottom: 20px;
  background-color: #ffffff; /* Differentiating the inner sections */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-section > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section > div > label {
  margin-bottom: 10px;
  margin-right: 10px;
}

.placeholder {
  color: #a5a5a5;  /* Gray color */
  font-style: italic;
}

button {
  background-color: #1b7ce4; /* A vibrant color for buttons */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Indicates clickability */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #0056b3; /* Darkened color on hover */
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #323232;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s;
  transform: translateY(-100%);
  opacity: 0;
}

.app .toast {
  transform: translateY(0);
  opacity: 1;
}

/* This gives an overall container to the clipboard */
.clipboard-container {
  background-color: #8e735b; /* Wooden texture */
  border-radius: 10px;
  padding: 20px 20px 40px 20px; /* Extra padding at the bottom to accommodate the clip */
  position: relative; /* To be able to position the clip absolutely */
}

/* Metallic clip of clipboard */
.clipboard-container::before {
  content: "";
  width: 80%;
  height: 10px;
  background-color: #d0d0d0; /* Metallic color */
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 10%; /* Center the clip */
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* Adds depth to the clip */
}

.display-section {
  /* This makes the display section look like paper */
  background-color: #fff; /* Paper color */
  border: 1px solid #e0e0e0; /* Thin border around the paper */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  border-radius: 5px; /* Rounded corners for paper */
  padding: 20px;
}
